<%
   meta title: t("titles.speeches.show", subject: @speech.topic.subject)
%>

<% if policy(@speech).manage? %>
    <% content_for :header_actions do %>
        <%= bs_button_to t("speeches.edit"), edit_admin_speech_path(@speech), icon: "pencil", style: "primary"%>
    <% end %>
<% end %>


<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="panel speech" id="<%= dom_id(@speech) %>">
      <%= speech_ribbon(@speech).html_safe %>
      <!-- User info -->
      <ul class="list-table pa15">
        <li class="text-left pl5">
          <p class="ellipsis nm"><span class="semibold"><%= link_to t("speeches.speech_title", subject: @speech.topic.subject), [:admin, @speech] %></span></p>
          <p class="text-muted nm"><%= timeago_tag @speech.created_at.to_time, :lang => I18n.locale %></p>
        </li>
        <li class="text-right">
        <div class="btn-group">
            <% if current_user.is_admin_of?(@conference) %>
              <% if @speech.accepted? %>
                  <button type="button" class="btn btn-success btn-disabled mb5"><i class="ico-ok-sign"></i> <%= t("speeches.states.accepted") %></button>
                  <%= link_to t("speeches.reject"), reject_admin_speech_path(@speech), class: "btn btn-default" %>
              <% elsif @speech.rejected?  %>
                  <button type="button" class="btn btn-danger btn-disabled mb5"><i class="ico-remove-sign"></i> <%= t("speeches.states.rejected") %></button>
                  <%= link_to t("speeches.accept"), accept_admin_speech_path(@speech), class: "btn btn-default" %>
              <% else  %>
                  <button type="button" class="btn btn-warning btn-disabled mb5"><i class="ico-remove-sign"></i> <%= t("speeches.states.waiting_review") %></button>
                  <%= link_to t("speeches.accept"), accept_admin_speech_path(@speech), class: "btn btn-default" %>
                  <%= link_to t("speeches.reject"), reject_admin_speech_path(@speech), class: "btn btn-default" %>
              <% end  %>

              <% #TODO make this simple %>
              <% if @speech.not_sent? %>
                  <% if @speech.accepted?  %>
                      <%= bs_button_to "", send_accept_mail_admin_speech_path(@speech), style: :default, icon: "mail-send", tooltip: t("speeches.send_accept_mail") %>
                  <% elsif @speech.rejected? %>
                      <%= bs_button_to "", send_reject_mail_admin_speech_path(@speech), style: :default, icon: "mail-send", tooltip: t("speeches.send_reject_mail") %>
                  <% end %>
              <% elsif @speech.accept_mail_sent? %>
                  <%= bs_button_to "", "#", style: :default, icon: "envelop3", tooltip: t("speeches.accept_mail_sent") %>
                  <% if @speech.rejected? %>
                      <%= bs_button_to "", send_reject_mail_admin_speech_path(@speech), style: :default, icon: "mail-send", tooltip: t("speeches.send_reject_mail") %>
                  <% end %>
              <% elsif @speech.reject_mail_sent? %>
                  <%= bs_button_to "", "#", style: :default, icon: "envelop3", tooltip: t("speeches.reject_mail_sent") %>
                  <% if @speech.accepted?  %>
                      <%= bs_button_to "", send_accept_mail_admin_speech_path(@speech), style: :default, icon: "mail-send", tooltip: t("speeches.send_accept_mail") %>
                  <% end %>
              <% end %>
            <% else %>
              <% if @speech.accepted? %>
                  <button type="button" class="btn btn-success btn-disabled mb5"><i class="ico-ok-sign"></i> <%= t("speeches.states.accepted") %></button>
              <% elsif @speech.rejected?  %>
                  <button type="button" class="btn btn-danger btn-disabled mb5"><i class="ico-remove-sign"></i> <%= t("speeches.states.rejected") %></button>
              <% else  %>
                  <button type="button" class="btn btn-warning btn-disabled mb5"><i class="ico-remove-sign"></i> <%= t("speeches.states.waiting_review") %></button>
              <% end  %>
            <% end %>
        </div>
        </li>
      </ul>
      <!--/ User info -->
      <hr class="nm"><!-- horizontal line -->
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt><%= t("topics.subject") %></dt>
          <dd><%= @speech.topic.subject %></dd>

          <% if @speech.topic.detail %>
              <dt><%= t("topics.abstract") %></dt>
              <dd><%= @speech.topic.abstract %></dd>
          <% end %>

          <% if @speech.topic.detail %>
              <dt><%= t("topics.details") %></dt>
              <dd><%= @speech.topic.detail %></dd>
          <% end %>

          <% if @speech.topic.additional_info %>
              <dt><%= t("topics.additional_info") %></dt>
              <dd><%= @speech.topic.additional_info %></dd>
          <% end %>
          <dt><%= t("topics.speakers") %></dt>
          <dd>
            <% @speech.topic.speakers.each do |speaker| %>
                <%= link_to speaker.name, user_path(speaker.user)  %> - <%= speaker.user.email %> - <%= speaker.phone %>
            <% end %>
          </dd>
        </dl>
      </div>
      <!-- panel footer -->
      <div class="panel-footer">
        <ul class="list-table">
          <li>
            <div class="img-group img-group-stack">
              <% @speech.topic.speakers.each do |speaker| %>
                  <div class="speaker">
                    <%= link_to image_tag(speaker.avatar_url(35), class: "img-circle"), user_path(speaker.user) , title: speaker.name, class: "tt" %>
                  </div>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
      <!--/ panel footer -->
      <hr class="nm"><!-- horizontal line -->
      <!-- Toolbar -->

      <%= render "admin/conferences/dashboard/speech/speech_toolbar", speech: @speech %>
      <%= render "admin/conferences/dashboard/speech/speech_comments", comments: @speech.comments, speech: @speech, open: true %>
    </div>
  </div>

</div>





<%= link_to 'Edit', edit_admin_speech_path %> |
<%= link_to 'Back', admin_speeches_path %>

