<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Edit Slot</h4>
    </div>
    <%= form_for([@conference, @slot]) do |f| %>
      <div class="modal-body">
        <% if @slot.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@slot.errors.count, "error") %> prohibited this slot from being saved:</h2>

            <ul>
            <% @slot.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :start_hour %><br />
          <%= f.time_select :start_hour %>
        </div>
        <div class="field">
          <%= f.label :duration %><br />
          <%= f.number_field :duration %>
        </div>
        <div class="field">
          <%= f.label :conference_id %><br />
          <%= f.number_field :conference_id %>
        </div>
        <div class="field">
          <%= f.label :day_id %><br />
          <%= f.number_field :day_id %>
        </div>
        <div class="field">
          <%= f.label :room_id %><br />
          <%= f.number_field :room_id %>
        </div>
        <div class="field">
          <%= f.label :topic_id %><br />
          <%= f.number_field :topic_id %>
        </div>
        <div class="actions">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("Close") %></button>
        <%= link_to 'Destroy', [@conference, @slot], method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %>
        <%= f.submit :Save, :class=>"btn btn-primary" %>
      </div>
    <% end %>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->