<h1>Listing slots</h1>

<table>
  <tr>
    <th>Start hour</th>
    <th>Duration</th>
    <th>Conference</th>
    <th>Day</th>
    <th>Room</th>
    <th>Topic</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @slots.each do |slot| %>
  <tr>
    <td><%= slot.start_hour %></td>
    <td><%= slot.duration %></td>
    <td><%= slot.conference_id %></td>
    <td><%= slot.day_id %></td>
    <td><%= slot.room_id %></td>
    <td><%= slot.topic_id %></td>
    <td><%= link_to 'Show', [@conference, slot] %></td>
    <td><%= link_to 'Edit', edit_conference_slot_path(@conference, slot) %></td>
    <td><%= link_to 'Destroy', [@conference, slot], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Slot', new_conference_slot_path(@conference) %>
