

<section id="main" role="main">
  <!-- START Template Container -->
  <section class="container">
    <!-- START row -->
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <!-- Brand -->
        <div class="text-center" style="margin-bottom:40px;">
          <span class="logo-figure inverse"></span>
          <span class="logo-text inverse"></span>
          <h5 class="semibold text-muted mt-5"><%= t("user.sign_up_to_get_started") %></h5>
        </div>
        <!--/ Brand -->

        <%= render "devise/shared/social" %>

        <hr><!-- horizontal line -->

        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "panel"}) do |f| %>
            <div class="panel-body">
              <!-- Alert message -->
              <%= errors!(resource) %>
              <!--/ Alert message -->
                <div class="form-group">
                <div class="form-stack has-icon pull-left">
                  <%= f.text_field :email, :autofocus => true, :class => "form-control input-lg", :placeholder => t("user.email") %>
                  <i class="ico-user2 form-control-icon"></i>
                </div>
                <div class="form-stack has-icon pull-left">
                    <%= f.password_field :password,:class => "form-control input-lg",  :placeholder => t("user.password") %>
                    <i class="ico-lock2 form-control-icon"></i>
                </div>
                <div class="form-stack has-icon pull-left">
                    <%= f.password_field :password_confirmation,:class => "form-control input-lg",  :placeholder => t("user.password_confirmation") %>
                    <i class="ico-lock2 form-control-icon"></i>
                </div>
                </div>

                  <div class="form-group nm">
                    <%= f.submit t("user.signup"), :class => "btn btn-block btn-success" %>
                  </div>
            </div>

        <% end %>

        <hr><!-- horizontal line -->
        
        <p class="text-muted text-center">
            <a href="<%= new_user_password_path %>"><%= t("user.lost_password") %></a>
        </p>

      </div>
    </div>
      <!--/ END row -->
  </section>
  <!--/ END Template Container -->
</section>


