

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-signin form-signup"}) do |f| %>
    <%= devise_error_messages! %>

    <h2 class="form-signin-heading">Sign Up</h2>
    <%= f.text_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email" %>
    <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
    <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Password" %>

    <div><%= f.submit "Sign Up", :class => "btn btn-lg btn-primary btn-block", :style => "margin-top: 10px" %></div>

<% end %>

<div class="row">
  <div class="col-lg-4 col-lg-offset-8">
    <%= render "devise/shared/links" %>
  </div>
</div>

