<!-- Wizard Container 4 -->
<div class="wizard-title"><%= t "conferences.contact_info" %></div>
<div class="wizard-container">
  <div class="form-group">
    <div class="col-md-12">
      <h5 class="semibold text-primary nm"><%= t "conferences.wizard.step4.desc.title" %></h5>
      <p class="text-muted nm"><%= t "conferences.wizard.step4.desc.text" %></p>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :website, :class => "col-lg-3 control-label" %>

    <div class="col-lg-9">
      <%= f.text_field :website, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :twitter, :class => "col-lg-3 control-label" %>

    <div class="col-lg-9">
      <%= f.text_field :twitter, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :facebook, :class => "col-lg-3 control-label" %>

    <div class="col-lg-9">
      <%= f.text_field :facebook, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => "col-lg-3 control-label" %>

    <div class="col-lg-9">
      <%= f.text_field :email, :class => "form-control required email" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => "col-lg-3 control-label" %>

    <div class="col-lg-9">
      <%= f.text_field :phone, :class => "form-control" %>
    </div>
  </div>
</div>

<!--/ Wizard Container 4 -->