<div class="row">
  <div class="col-sm-4">
    <!-- START Statistic Widget -->
    <div class="table-layout animation animating fadeInDown">
      <div class="col-xs-4 panel bgcolor-info">
        <div class="ico-megaphone fsize24 text-center"></div>
      </div>
      <div class="col-xs-8 panel">
        <div class="panel-body text-center">
          <h4 class="semibold nm"><%= @total_speeches.count %></h4>
          <p class="semibold text-muted mb0 mt5"><%= t "conferences.total_speeches" %></p>
        </div>
      </div>
    </div>
    <!--/ END Statistic Widget -->
  </div>
  <div class="col-sm-4">
    <!-- START Statistic Widget -->
    <div class="table-layout animation animating fadeInUp">
      <div class="col-xs-4 panel bgcolor-teal">
        <div class="ico-hammer2 fsize24 text-center"></div>
      </div>
      <div class="col-xs-8 panel">
        <div class="panel-body text-center">
          <h4 class="semibold nm"><%= link_to @waiting_speeches.count, admin_speeches_path %></h4>
          <p class="semibold text-muted mb0 mt5"><%= t "conferences.waiting_speeches" %></p>
        </div>
      </div>
    </div>
    <!--/ END Statistic Widget -->
  </div>
  <div class="col-sm-4">
    <!-- START Statistic Widget -->
    <div class="table-layout animation animating fadeInDown">
      <div class="col-xs-4 panel bgcolor-primary">
        <div class="ico-flag6 fsize24 text-center"></div>
      </div>
      <div class="col-xs-8 panel">
        <div class="panel-body text-center">
          <h4 class="semibold nm"><%= remaining_days(@conference) %></h4>
          <p class="semibold text-muted mb0 mt5"><%= t("conferences.days_remaining")%></p>
        </div>
      </div>
    </div>
    <!--/ END Statistic Widget -->
  </div>
</div>