<%
   meta title: t("titles.conferences.schedule", conference: @conference.name)
%>

<%= javascript_tag do %>
    window.schedule_url = '<%= j admin_schedule_url%>';
    window.rooms_url = '<%= j admin_rooms_url%>';
    window.speech_types_url = '<%= j speech_types_admin_conference_path %>';
    window.speech_list_url = '<%= j speech_list_admin_schedule_path %>';
    window.conference = <%= raw @conference.to_json(methods: [:start_date, :end_date]) %>
<% end %>

<div class="row">
  <div class="col-lg-9">
    <div id="scheduler"></div>
  </div>

  <div class="col-lg-3" id="sidebar">
    <%= render template: 'admin/schedule/sidebar' %>
  </div>
</div>

<script id="event-template" type="text/x-kendo-template">
  <div class="schedule-event-template">
    <h3>#: title #</h3>
  </div>
</script>


<div class="create-room-window">
  <%= form_for([:admin, @room], remote: true, html: {class: "form-horizontal pt15"}) do |f| %>
    <%= f.hidden_field :conference_id, value: @conference.id %>
      <div class="k-widget k-notification k-notification-error" style="display: none">
        <div class="k-notification-wrap">
          <span class="k-icon k-i-note"></span><span class="errors"></span>
        </div>
      </div>

    <div class="form-group nm">
        <%= f.label :name, t("rooms.name"), class: "col-lg-2 control-label" %>
        <div class="col-lg-7">
          <%= f.text_field :name, class: "form-control" %>
        </div>
    </div>
    <div class="form-actions nm">
        <%= f.submit t("general.create"), :class => "btn btn-primary pull-right mr50 mt10" %>
    </div>
    <div class="clearfix">
  <% end %>
</div>
