<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="panel speech" id="<%= dom_id(speech) %>">
      <%= speech_ribbon(speech).html_safe %>
      <!-- User info -->
      <ul class="list-table pa15">
        <li class="text-left pl5">
          <p class="ellipsis nm"><span class="semibold"><%= t("speeches.speech_title", subject: speech.topic.subject) %></span></p>
          <p class="nm"><%= speech.conference.name %></p>
          <p class="text-muted nm"><%= timeago_tag speech.created_at.to_time, :lang => I18n.locale %></p>

        </li>
        <li class="text-right">
          <%= bs_button_to t("general.edit"), edit_speech_path(speech), style: "primary", icon: "pencil" if speech.state == "waiting_review" %>
        </li>
      </ul>
      <!--/ User info -->
      <hr class="nm"><!-- horizontal line -->
      <div class="panel-body">
        <%= render "admin/conferences/dashboard/speech/speech_body", speech: speech %>
      </div>
      <!-- panel footer -->
      <div class="panel-footer">
        <ul class="pull-left list-table" style="width: 90%">
          <li>
            <div class="img-group img-group-stack">
              <% speech.topic.speakers.each do |speaker| %>
                  <div class="speaker">
                    <%= link_to image_tag(speaker.avatar_url(35), class: "img-circle"), user_path(speaker.user) , title: speaker.name, class: "tt" %>
                  </div>
              <% end %>
            </div>
          </li>
        </ul>
        <div class="pull-right mt10">
          <%= state_label(speech.state).html_safe %>
        </div>
        <div class="clearfix"></div>
      </div>
      <!--/ panel footer -->
      <hr class="nm"><!-- horizontal line -->
      <!-- Toolbar -->
    </div>
  </div>
</div>