<%= form_for(@conference) do |f| %>
  <% if @conference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conference.errors.count, "error") %> prohibited this conference from being saved:</h2>

      <ul>
      <% @conference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
        <label for="from">From</label>
        <input type="text" id="from" name="from"/>
        <label for="to">to</label>
        <input type="text" id="to" name="to"/>
    </div>

    <div class="field">
    <%= f.label :organization %><br />
    <%= f.collection_select :organization_ids, current_user.organizations, :id, :name, {}, {:multiple => true}%>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :logo %><br />
    <%= f.file_field :logo %>
  </div>

  <%= f.fields_for :address do |address_form| %>
    <div class="field">
        <%= address_form.label :address_info %><br />
        <%= address_form.text_area :info %>
    </div>

    <div class="address-map">
      <div id="panel">
        <input id="target" type="text" placeholder="Search Box" class="disable-enter">
      </div>
      <div id="map-canvas"></div>
    </div>

    <%= address_form.hidden_field :lat, :id => "map_lat" %>
    <%= address_form.hidden_field :lon, :id => "map_lon" %>
  <% end %>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br />
    <%= f.text_field :facebook %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
