<%= form_for(@conference, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @conference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conference.errors.count, "error") %> prohibited this conference from being saved:</h2>

      <ul>
      <% @conference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <!-- Left Col -->
      <div class="col-lg-12 col-md-12 col-sm-12">

          <div class="panel panel-default">
            <div class="panel-heading">Basic Information</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="form-group">
                        <label for="from" class="col-lg-3 control-label"><%= t("Start Date") %></label>

                        <div class="col-lg-9">
                          <input type="text" class="form-control" id="from" name="from" placeholder="mm/dd/yyyy" value="<%= @conference.days.first.date.strftime("%m/%d/%Y") %>"/>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="form-group">
                        <label for="from" class="col-lg-3 control-label"><%= t("Start Date") %></label>

                        <div class="col-lg-9">
                          <input type="text" class="form-control" id="to" name="to" placeholder="mm/dd/yyyy" value="<%= @conference.days.last.date.strftime("%m/%d/%Y") %>"/>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="form-group">
                        <%= f.label :name, :class => "col-lg-3 control-label" %>

                        <div class="col-lg-9">
                          <%= f.text_field :name, :class => "form-control" %>
                        </div>
                      </div>
                      <div class="form-group">
                        <%= f.label :summary, :class => "col-lg-3 control-label" %>

                        <div class="col-lg-9">
                          <%= f.text_field :summary, :class => "form-control" %>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="form-group">
                        <%= f.label :organization, :class => "col-lg-3 control-label" %>

                        <div class="col-lg-9">
                          <%= f.collection_select :organization_ids, current_user.organizations, :id, :name, {}, {:multiple => true, :class => "form-control", :style => "float:left; width:88%"} %>
                          <a data-toggle="modal" href="#newOrg" class="btn btn-primary btn-small tt" style="float:left; margin-left: 7px" title="Add New Organization"><i class="icon-plus-sign"></i></a>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <%= f.label :description, :class => "col-lg-1 control-label", :style => "margin-left:46px" %>

                        <div class="col-lg-10">
                          <%= f.text_area :description, :class => "form-control", :style => "height: 200px; width: 100%" %>
                        </div>
                      </div>
                    </div>
                </div>


            </div>
          </div>
      </div>
    </div>

    <div class="row">
      <!-- Left Col -->
      <div class="col-lg-12 col-md-12 col-sm-12">

        <div class="panel panel-default">
            <div class="panel-heading">Details</div>
            <div class="panel-body">

              <div class="form-group">
                <%= f.label :logo, :class => "col-lg-3 control-label" %>

                <div class="col-lg-9">
                  <%= f.file_field :logo, :class => "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :heading_image, :class => "col-lg-3 control-label" %>

                <div class="col-lg-9">
                  <%= f.file_field :heading_image, :class => "form-control" %>
                </div>
              </div>

              <%= f.fields_for :address do |address_form| %>
                  <div class="form-group">
                    <%= address_form.label "Address Details", :class => "col-lg-3 control-label"%>

                    <div class="col-lg-9">
                      <%= address_form.text_area :info, :class => "form-control" %>
                    </div>
                  </div>
                  <div class="row">
                          <div class="form-group">
                            <%= address_form.label "Location", :class => "col-lg-3 control-label" %>
                            <div class="col-lg-9 address-map" style="padding-right: 30px">
                                <div id="panel">
                                  <input id="target" type="text" placeholder="Search Box" class="disable-enter">
                                </div>
                                <div id="map-canvas"></div>
                              </div>

                              <%= address_form.hidden_field :lat, :id => "map_lat" %>
                              <%= address_form.hidden_field :lon, :id => "map_lon" %>
                          </div>
                  </div>
              <% end %>

              <div class="form-group">
                <%= f.label :website, :class => "col-lg-3 control-label" %>

                <div class="col-lg-9">
                  <%= f.text_field :website, :class => "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :twitter, :class => "col-lg-3 control-label" %>

                <div class="col-lg-9">
                  <%= f.text_field :twitter, :class => "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :facebook, :class => "col-lg-3 control-label" %>

                <div class="col-lg-9">
                  <%= f.text_field :facebook, :class => "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :email, :class => "col-lg-3 control-label" %>

                <div class="col-lg-9">
                  <%= f.text_field :email, :class => "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :phone, :class => "col-lg-3 control-label" %>

                <div class="col-lg-9">
                  <%= f.text_field :phone, :class => "form-control" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :keywords, :class => "col-lg-3 control-label" %>

                <div class="col-lg-9">
                  <%= f.text_field :keywords, :class => "form-control", :placeholder => "seperate by comma"  %>

                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <%= f.submit :class => "btn btn-default" %>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
<% end %>

<div class="modal fade" id="newOrg">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create a new organization</h4>
      </div>
      <div class="modal-body">
        <%= form_for(Organization.new, remote: true) do |of| %>
          <%= of.label :organization_name %>
          <%= of.text_field :name %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          <%= of.submit class: "btn btn-primary" %>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
