<%= javascript_include_tag "schedule" %>

<style type="text/css">
  table{
    border: 1px solid #ccc;
  }
  td{
    padding: 3px;
  }
  td[data-hour]{
    cursor: pointer;
  }
  td[data-hour]:hover{
    background-color: #ddd;
  }
  .clickable-row1, .clickable-row2{
    border-left: 1px solid #ccc;
    width: 100%;
    position: relative;
  }
  .clickable-row1{
    border-bottom: 1px dotted #ccc;
  }
  .clickable-row2{
    border-bottom: 1px solid #ccc;
  }
  .slot-div{
    background-color: #428bca;
    color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    z-index: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 2px;
  }
  .slot-div:hover{
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
  }
  .room{
    width: 300px;
    display: inline-block;
  }

  .tab-pane{
    overflow-x: auto;
  }
</style>

<script type="text/javascript">
  window.slotsData = JSON.parse('<%= ConferencesHelper.slots_data(@conference).html_safe %>');
  window.conferenceId = '<%= @conference.id %>';
  window.editable = <%= editable %>;
</script>

<ul class="schedule-tabs nav nav-tabs">
  <% @conference.days.each_with_index do |day, i| %>
    <li class="<%= 'active' if i == 0 %>"><a href="#<%= day.date %>" data-toggle="tab"><%= day.date %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <% @conference.days.each_with_index do |day, i| %>
    <div class="tab-pane fade in <%= 'active' if i == 0 %>" id="<%= day.date %>">
      <p>Rooms for <%= day.date %></p>

      <div class="room-container">
        <% @conference.rooms.each do |room| %>
          <div class="room">
            <%= room.name %>
            <%= link_to 'Edit', edit_conference_room_path(@conference, room) %>

            <div id="slotModal<%= day.id %><%= room.id %>" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><%= t 'Add slot' %></h4>
                  </div>
                  <%= form_for([@conference, @slot]) do |f| %>
                    <div class="modal-body">
                      <p>Adding slot for <%= room.name %> at <%= day.date %></p>
                        <%= f.hidden_field :conference_id, value: @conference.id %>
                        <%= f.hidden_field :room_id, value: room.id %>
                        <%= f.hidden_field :day_id, value: day.id %>
                        <div class="field">
                          <%= f.label :start_hour %><br />
                          <%= f.time_select :start_hour %>
                        </div>
                        <div class="field">
                          <%= f.label :duration %><br />
                          <%= f.number_field :duration, value: 45 %> minutes
                        </div>
                        <div class="field">
                          <%= f.label :topic_id %><br />
                          <%= f.collection_select :topic_id, @conference.unassigned_topics , :topic_id, :topic_subject, :prompt => "Select a topic" %>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <%= f.submit "Add slot", :class =>"btn btn-primary" %>
                    </div>
                  <% end %>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <table>
              <% ConferencesHelper.hour_span(@conference, editable).each do |n| %>
                <tr>
                  <td class="schd-row"><%= n < 10 ? '0' + n.to_s : n %>:00</td>
                  <td class="clickable-row1" data-hour="<%= n < 10 ? '0' + n.to_s : n %>:00" data-day="<%= day.id %>" data-room="<%= room.id %>">&nbsp;</td>
                </tr>
                <tr>
                  <td></td>
                  <td class="clickable-row2" data-hour="<%= n < 10 ? '0' + n.to_s : n %>:30" data-day="<%= day.id %>" data-room="<%= room.id %>">&nbsp;</td>
                </tr>
              <% end %>
            </table>

          </div> <!-- room -->
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div id="slotDetailsContainer"></div>