<%
   meta title: t("titles.conferences.apply", conference: @conference.name)
%>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= @conference.name %></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="language"><%= link_to image_tag("en.png"), "?locale=en" %></li>
      <li  class="language"><%= link_to image_tag("tr.png"), "?locale=tr" %></li>
    </ul>
  </div>
  <!-- /.container -->
</nav>

<div class="section">
  <div class="container">
    <%= render 'layouts/messages' %>

    <div class="row">
      <% if @conference.accept_application? %>
        <%= form_for(@speech, url: apply_conference_path, html: {class: 'panel form-horizontal'}) do |f| %>

              <div class="panel-heading text-center">
                <div class="ico-bubbles mb15 mt15" style="font-size:36px;"></div>
                <h4 class="semibold modal-title text-primary"><%= t("conferences.landing.new_application") %></h4>
              </div>
              <div class="panel-body">
                <div class="form-group message-container">
                  <% if @speech.errors.any? %>
                      <div class="alert alert-danger">
                        <strong><%= t "error" %></strong>
                        <ul>
                          <% @speech.errors.full_messages.each do |msg| %>
                              <li><%= msg %></li>
                          <% end %>
                        </ul>
                      </div>
                  <% end %>
                </div>
                <%= render "conferences/show/speech_form_fields", f: f %>
              </div>
              <div class="panel-footer text-right">
                <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("general.cancel") %></button>
                <%= f.submit :class => "btn btn-success", :value => t("conferences.landing.send_application") %>
              </div>

        <% end %>
          <%= render "conferences/show/speaker_modal" %>

    <% else %>
          <div class="panel">
          <div class="panel-body">
            <%= t("conferences.applications_closed") %>

          </div>
          </div>
      <% end %>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div><!-- /.section -->