<h1>Listing conferences</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Summary</th>
    <th>Website</th>
    <th># of appeals</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conferences.each do |conference| %>
  <tr>
    <td><%= image_tag conference.logo.url(:thumb) %></td>
    <td><%= conference.name %></td>
    <td><%= conference.summary %></td>
    <td><%= conference.website %></td>
    <td><%= link_to conference.appeals.count, conference_appeals_path(conference) %></td>
    <td><%= conference.address.info %></td>
    <td><%= link_to 'Show', conference %></td>
    <td><%= link_to 'Edit', edit_conference_path(conference) %></td>
    <td><%= link_to 'Destroy', conference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conference', new_conference_path %>
