<div class="page-header">
  <h1 class="pull-left">Conferences</h1>

  <div class="pull-right toolbar">

    <%= button_group do %>
        <%= bs_button_to "", new_conference_path, tooltip: "New Conference", icon: "plus", style: "primary" %>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>
<table class="table table-striped ">
  <tr>
    <th class="span1">Logo</th>
    <th>Name</th>
    <th>Summary</th>
    <th># of appeals</th>
    <th># of sponsors</th>
    <th class="span2"></th>
  </tr>

  <% @conferences.each do |conference| %>
      <tr>
        <td><%= image_tag conference.logo.url(:thumb), height: "50", width: "50" %></td>
        <td>
          <%= conference.name %> <br />
          <%= link_to conference.website, conference.website if conference.website %>
        </td>
        <td><%= conference.summary %></td>
        <td><%= link_to conference.appeals.count, conference_appeals_path(conference) %></td>
        <td><%= link_to conference.sponsors.count, conference_sponsors_path(conference) %></td>
        <td>
          <%= button_group class: "btn-group-sm" do %>
            <%= bs_button_to "", conference, tooltip: "Details", icon: "eye-open", style: "primary", size: "mini" %>
            <%= bs_button_to "", edit_conference_path(conference), tooltip: "Edit", icon: "pencil", style: "primary", size: "mini" %>
            <%= bs_button_to "", conference, method: :delete, data: { :confirm => "Are You Sure?"}, tooltip: "Delete", icon: "remove", style: "primary", size: "mini" %>
            <% end %>
        </td>
      </tr>
  <% end %>
</table>

<div class="pull-right">
  <%= bs_will_paginate(@conferences) %>
</div>

