<p id="notice"><%= notice %></p>

<%= form_for([@conference, @room]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => 'form-control' %>
    <%= f.hidden_field :conference_id, value: @conference.id %>
  </div>
  <div class="actions">
    <%= f.submit 'Add room' ,:class => 'btn' %>
  </div>
<% end %>

<hr>
<%= render partial: 'schedule_table', locals: {editable: true} %>