<%
   content_for :title, @conference.name + " " + @conference.days.first.date.strftime("%B %d").to_s + " - " + @conference.days.last.date.strftime("%B %d").to_s + " " + @conference.address.try(:city).to_s
%>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#about"><%=@conference.name%></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">About</a></li>
        <% if @conference.sponsors.present? %>
            <li><a href="#sponsors">Sponsors</a></li>
        <% end %>
        <% if @conference.speakers.accepted.present? %>
            <li><a href="#speakers">Speakers</a></li>
        <% end %>

        <% if @conference.slots.present? %>
            <li><a href="#schedule">Schedule</a></li>
        <% end %>

        <li><a href="#location">Location</a></li>
        <li><a href="#organizators">Organizators</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<div class="carousel slide heading" id="about">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="fill" style="background-image:url('<%=@conference.heading_image.url%>');"></div>
      <div class="carousel-caption title">
        <h1><%= best_in_place_if current_user && @conference.organizations && current_user.organizations, @conference, :name, :type => :input %></h1>


          <% if @conference.days.first.date == @conference.days.last.date %>
            <h2> <%= @conference.days.first.date.strftime("%B %d") %></h2>
          <% else %>
            <h2><%= @conference.days.first.date.strftime("%B %d") %> - <%= @conference.days.last.date.strftime("%B %d") %> </h2>
          <% end %>
        <h2><%= best_in_place_if current_user && @conference.organizations && current_user.organizations, @conference.address, :city, :type => :input, :path => conference_address_path(@conference, @conference.address) %></h2>

      </div>
    </div>
  </div>

</div>



<div class="section-colored text-center color1">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h2><%= best_in_place_if current_user && @conference.organizations && current_user.organizations, @conference, :summary, :type => :input %></h2>
        <h3><%= best_in_place_if current_user && @conference.organizations && current_user.organizations, @conference, :description, :type => :input %></h3>
        <h4><%= best_in_place_if current_user && @conference.organizations && current_user.organizations, @conference, :keywords, :type => :input %></h4>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div><!-- /.section-colored -->

<% if @conference.sponsors.present? %>
    <div class="section color2" id="sponsors">

      <div class="container">

        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Our Sponsors</h2>
            <hr>
          </div>
          <% @conference.sponsors.each do |sponsor| %>
              <div class="col-lg-4 col-md-4 col-sm-6">
                  <%= link_to image_tag(sponsor.logo.url, :class => "img-responsive img-home-portfolio"), sponsor.website %>
              </div>
          <% end %>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.container -->

    </div><!-- /.section -->
<% end %>


<% if @conference.speakers.accepted.present? %>

    <div class="section-colored color3" id="speakers">
      <div class="container text-center">

          <div class="row text-center" >
            <div class="col-lg-12 text-center">
              <h2>Speakers</h2>

              <div class="">
                <a class="btn btn-lg btn-primary" href="<%= new_conference_appeal_url(@conference) %>">Speaker Application</a>
              </div>
              <div class="clearfix"></div>
              <hr>
            </div>
            <% @conference.speakers.accepted.each do |speaker| %>
                <div class="col-lg-4 col-sm-6 speaker">
                  <img class="img-circle img-responsive" src="<%=speaker.avatar_url%>">

                  <h2><%= speaker.name %>
                  </h2>

                  <p><%= speaker.bio %></p>

                  <p class="social-links">
                    <% if speaker.twitter %>
                        <a href="http://www.twitter.com/<%= speaker.twitter %>"><i class="icon-twitter" style="font-size: 30px"></i></a>
                    <% end %>
                    <% if speaker.github %>
                        <a href="http://www.github.com/<%= speaker.github %>"><i class="icon-github" style="font-size: 30px"></i></a>
                    <% end %>
                    <% if speaker.facebook %>
                        <a href="http://www.facebook.com/<%= speaker.facebook%>"><i class="icon-facebook" style="font-size: 30px"></i></a>
                    <% end %>
                  </p>
                </div>
            <% end %>


          </div>
      </div>
    </div>
<% else %>
    <div class="section-colored color3" id="speakers">
      <div class="container text-center">
        <div class="row text-center">
          <div class="col-lg-12 text-center">

            <div class="">
              <a class="btn btn-lg btn-primary" href="<%= new_conference_appeal_url(@conference) %>">Speaker
                Application</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<% if !(@conference.slots.empty?) %>
<div class="section color4" id="schedule">
  <div class="container">
    <%= render partial: 'schedule_table', locals: {editable: false} %>
  </div>
</div>
<% end %>


<div class="section color5" id="location">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>Location</h2>

        <%= best_in_place_if current_user && @conference.organizations && current_user.organizations, @conference.address, :info, :type => :textarea, :path => conference_address_path(@conference, @conference.address) %>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-6" id="address_map">

      </div>

      <script type="text/javascript">

          function initialize() {
              var myLatlng = new google.maps.LatLng(<%=@conference.address.lat%>, <%=@conference.address.lon%>);
              var mapOptions = {
                  zoom: 4,
                  center: myLatlng,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
              }
              var map = new google.maps.Map(document.getElementById('address_map'), mapOptions);

              var marker = new google.maps.Marker({
                  position: myLatlng,
                  map: map,
                  title: '<%=@conference.name%>'
              });
          }

          google.maps.event.addDomListener(window, 'load', initialize);
      </script>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div><!-- /.section-colored -->



<div class="container" id="organizators" style="margin-top: 20px">

  <div class="row well">
    <div class="col-lg-12 col-md-12">
      <h2>Organizators</h2>

      <% @conference.organizations.each do |org| %>
          <div class="col-lg-3 col-sm-3 organization text-center">
            <%= image_tag org.logo.url(:thumb), height: "200", width: "200", class: "img-circle img-responsive"%>


            <h4><%= org.name %></h4>

            <% if org.website %>
                 <p><i class="icon-external-link">&nbsp;</i><%= link_to org.website, org.website %></p>
            <% end %>
          </div>

      <% end %>

    </div>
  </div>
  <!-- /.row -->

</div><!-- /.container -->


<div class="container">

  <hr>

  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p class="pull-left"><%=@conference.name %> <br /></p>
        <p class="pull-right footer-social-links" style="font-color: #428bca">

          <% if @conference.twitter %>
              <a href="http://www.twitter.com/<%= @conference.twitter %>"><i class="icon-twitter" style="font-size: 30px"></i></a>
          <% end %>
          <% if @conference.facebook %>
              <a href="http://www.facebook.com/<%= @conference.facebook %>"><i class="icon-facebook" style="font-size: 30px"></i></a>
          <% end %>
          <% if @conference.email %>
              <a href="mailto:<%= @conference.email %>"><i class="icon-envelope-alt" style="font-size: 30px"></i></a>
          <% end %>
        </p>
      </div>
    </div>

  </footer>

</div><!-- /.container -->
