<%
   content_for :title, @conference.name + " " + @conference.days.first.date.strftime("%B %d").to_s + " - " + @conference.days.last.date.strftime("%B %d").to_s + " " + @conference.address.try(:city).to_s

%>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#about"><%=@conference.name%></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">About</a></li>
        <li><a href="#sponsors">Sponsors</a></li>
        <li><a href="#speakers">Speakers</a></li>
        <li><a href="#location">Location</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<div class="carousel slide heading" id="about">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="fill" style="background-image:url('<%=@conference.heading_image.url%>');"></div>
      <div class="carousel-caption title">
        <h1><%= best_in_place_if @conference.organizations && current_user.organizations, @conference, :name, :type => :input %></h1>

        <h2><%= @conference.days.first.date.strftime("%B %d") %> - <%= @conference.days.last.date.strftime("%B %d") %> </h2>
        <h2><%= best_in_place_if @conference.organizations && current_user.organizations, @conference.address, :city, :type => :input, :path => conference_address_path(@conference, @conference.address) %></h2>

      </div>
    </div>
  </div>

</div>


<div class="section-colored text-center">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h2><%= best_in_place_if @conference.organizations && current_user.organizations, @conference, :description, :type => :input %></h2>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div><!-- /.section-colored -->

<div class="section" id="sponsors">

  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Our Sponsors</h2>
        <hr>
      </div>
      <% @conference.sponsors.each do |sponsor| %>
          <div class="col-lg-4 col-md-4 col-sm-6">
              <%= link_to image_tag(sponsor.logo.url, :class => "img-responsive img-home-portfolio"), sponsor.website %>

          </div>
      <% end %>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div><!-- /.section -->

<div class="section-colored" id="speakers">
  <div class="container">

      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Speakers</h2>
          <hr>
        </div>
        <div class="col-lg-4 col-sm-6 speaker">
          <img class="img-circle img-responsive" src="http://placehold.it/200x200">

          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <img class="img-circle img-responsive" src="http://placehold.it/200x200">

          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <img class="img-circle img-responsive" src="http://placehold.it/200x200">

          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <img class="img-circle img-responsive" src="http://placehold.it/200x200">

          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <img class="img-circle img-responsive" src="http://placehold.it/200x200">

          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
      </div>
  </div>
</div>

<div class="section" id="location">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>Location</h2>

        <%= best_in_place_if @conference.organizations && current_user.organizations, @conference.address, :info, :type => :textarea, :path => conference_address_path(@conference, @conference.address) %>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-6" id="address_map">

      </div>

      <script type="text/javascript">

          function initialize() {
              var myLatlng = new google.maps.LatLng(<%=@conference.address.lat%>, <%=@conference.address.lon%>);
              var mapOptions = {
                  zoom: 4,
                  center: myLatlng,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
              }
              var map = new google.maps.Map(document.getElementById('address_map'), mapOptions);

              var marker = new google.maps.Marker({
                  position: myLatlng,
                  map: map,
                  title: '<%=@conference.name%>'
              });
          }

          google.maps.event.addDomListener(window, 'load', initialize);
      </script>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div><!-- /.section-colored -->


<div class="container">

  <div class="row well">
    <div class="col-lg-8 col-md-8">
      <h4>'Modern Business' is a ready-to-use, Bootstrap 3 updated, multi-purpose HTML theme!</h4>

      <p>For more templates and more page options that you can integrate into this website template, visit Start
        Bootstrap!</p>
    </div>
    <div class="col-lg-4 col-md-4">
      <a class="btn btn-lg btn-primary pull-right" href="">Speaker Application</a>
    </div>
  </div>
  <!-- /.row -->

</div><!-- /.container -->

<div class="container">

  <hr>

  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Company 2013</p>
      </div>
    </div>
  </footer>

</div><!-- /.container -->
