<%
   meta title: t("titles.conferences.schedule", conference: @conference.name)
%>


<p id="notice"><%= notice %></p>
<%= javascript_tag do %>
    window.schedule_url = '<%= j conference_schedule_url(@conference)%>';
    window.rooms_url = '<%= j conference_rooms_url(@conference)%>';
    window.speech_types_url = '<%= j speech_types_conference_url(@conference)%>';
<% end %>

<div class="row">
  <div class="col-lg-9">
    <div id="scheduler"></div>
  </div>
  <div class="col-lg-3">
    <button type="button" class="btn btn-primary btn-block create-room-button" ><%= t("rooms.create") %></button>
    <div class="speech-list">
        <%= render "schedule/speech_list", speech_types: @speech_list %>
    </div>
  </div>
</div>

<div class="create-room-window">
  <%= form_for([@conference, @room], remote: true, html: {class: "form-horizontal"}) do |f| %>
    <%= f.hidden_field :conference_id, value: @conference.id %>
    <div class="form-group nm">
        <%= f.label :name, t("rooms.name"), class: "col-lg-2 control-label" %>
        <div class="col-lg-7">
          <%= f.text_field :name, class: "form-control" %>
        </div>
    </div>
        <%= f.submit t("general.create"), :class => "btn btn-primary pull-right" %>
  <% end %>
</div>
