<div id="applicationModal" class="modal fade">
  <div class="modal-dialog">
    <%= form_for([@conference, @appeal], url: conference_appeals_url(@conference), remote: true, html: { class: 'modal-content'}) do |f| %>
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <div class="ico-bubbles mb15 mt15" style="font-size:36px;"></div>
        <h4 class="semibold modal-title text-primary"><%= t("conferences.landing.new_application") %></h4>
      </div>
      <div class="modal-body">
            <div class="form-group message-container">
            </div>
            <%= render "conferences/show/appeal_form_fields", f:f %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("general.cancel") %></button>
        <%= f.submit :class => "btn btn-success", :value => t("conferences.landing.send_application") %>
      </div>
    <% end %>
  </div><!-- /.modal-dialog -->
</div>


<%= render "conferences/show/speaker_modal" %>