<div class="page-header page-header-block">
  <div class="page-header-section">
    <h4 class="title semibold"><%= t "dashboard" %></h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <!-- START Statistic Widget -->
    <div class="table-layout animation delay animating fadeInDown">
      <div class="col-xs-4 panel bgcolor-info">
        <div class="ico-checkmark3 fsize24 text-center"></div>
      </div>
      <div class="col-xs-8 panel">
        <div class="panel-body text-center">
          <h4 class="semibold nm"><%= @total_appeals.count %></h4>
          <p class="semibold text-muted mb0 mt5"><%= t "total_appeals" %></p>
        </div>
      </div>
    </div>
    <!--/ END Statistic Widget -->
  </div>
  <div class="col-sm-4">
    <!-- START Statistic Widget -->
    <div class="table-layout animation delay animating fadeInUp">
      <div class="col-xs-4 panel bgcolor-teal">
        <div class="ico-hammer2 fsize24 text-center"></div>
      </div>
      <div class="col-xs-8 panel">
        <div class="panel-body text-center">
          <h4 class="semibold nm"><%= link_to @waiting_appeals.count,  conferences_path %></h4>
          <p class="semibold text-muted mb0 mt5"><%= t "waiting_appeals" %></p>
        </div>
      </div>
    </div>
    <!--/ END Statistic Widget -->
  </div>
  <div class="col-sm-4">
    <!-- START Statistic Widget -->
    <div class="table-layout animation delay animating fadeInDown">
      <div class="col-xs-4 panel bgcolor-primary">
        <div class="ico-flag6 fsize24 text-center"></div>
      </div>
      <div class="col-xs-8 panel">
        <div class="panel-body text-center">
          <h4 class="semibold nm">0<!-- #TODO Active Conferences count --></h4>
          <p class="semibold text-muted mb0 mt5"><%= t "active_conferences" %></p>
        </div>
      </div>
    </div>
    <!--/ END Statistic Widget -->
  </div>
</div>


<% if alert %>
  <p id="alert" class="alert alert-danger"><%= alert %></p>
<% end %>
<p id="notice"><%= notice %></p>



<div class="row" style="padding: 15px">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Your Stats</div>
      <div class="panel-body">
        <table class="table table-bordered">
          <tr>
            <td class="span3" style="font-weight: bold">Total Organizations:</td>
            <td><%= link_to current_user.organizations.count, organizations_path, :class=>"easy-click" %></td>
          </tr>
          <tr>
            <td class="span3" style="font-weight: bold">Total Conferences:</td>
            <td><%= link_to current_user.conferences.count, conferences_path, :class=>"easy-click" %></td>
          </tr>
          <tr>
            <td class="span3" style="font-weight: bold">Total Appeals:</td>
            <td><%= @total_appeals.count %></td>
          </tr>
          <tr>
            <td class="span3" style="font-weight: bold">Waiting Appeals:</td>
            <td><%= @waiting_appeals.count %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">Last Appeals</div>
      <div class="panel-body">
        <%= render "appeals/appeals_list", appeals: @waiting_appeals %>

      </div>
    </div>
  </div>
</div>