<% if alert %>
  <p id="alert" class="alert alert-danger"><%= alert %></p>
<% end %>
<p id="notice"><%= notice %></p>



<div class="row" style="padding: 15px">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Your Stats</div>
      <div class="panel-body">
        <table class="table table-bordered">
          <tr>
            <td class="span3" style="font-weight: bold">Total Organizations:</td>
            <td><%= link_to current_user.organizations.count, organizations_path, :class=>"easy-click" %></td>
          </tr>
          <tr>
            <td class="span3" style="font-weight: bold">Total Conferences:</td>
            <td><%= link_to current_user.conferences.count, conferences_path, :class=>"easy-click" %></td>
          </tr>
          <tr>
            <td class="span3" style="font-weight: bold">Total Appeals:</td>
            <td><%= @total_appeals.count %></td>
          </tr>
          <tr>
            <td class="span3" style="font-weight: bold">Waiting Appeals:</td>
            <td><%= @waiting_appeals.count %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">Last Appeals</div>
      <div class="panel-body">
        <%= render "appeals/appeals_list", appeals: @waiting_appeals %>

      </div>
    </div>
  </div>
</div>