<% appeals.each do |appeal| %>
    <%= div_for(appeal, class: "panel panel-default") do %>
        <div class="panel-heading">
          <h3 class="panel-title pull-left">
            <%= link_to appeal.topic.subject, [appeal.conference, appeal] %>
          </h3>

          <div class="speakers pull-right">
            <% appeal.topic.speakers.each do |speaker| %>
                <div class="speaker">
                  <%= link_to image_tag(speaker.avatar_url(20), class: "img-circle"), speaker_path(speaker), title: speaker.name, class: "tt" %>
                </div>
            <% end %>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div class="updown">
            <% unless current_user.voted_up_on? appeal %>
                <%= link_to upvote_conference_appeal_path(appeal.conference, appeal) do %>
                    <i class="icon-thumbs-up" style="font-size: 24px;color: gray;"> <%= appeal.upvotes.count %></i>
                <% end %>
            <% else %>
                <i class="icon-thumbs-up" style="font-size: 24px;"> <%= appeal.upvotes.count %></i>
            <% end %>
            <% unless current_user.voted_down_on? appeal %>
                <%= link_to downvote_conference_appeal_path(appeal.conference, appeal) do %>
                    <i class="icon-thumbs-down" style="font-size: 24px;color: gray;"> <%= appeal.downvotes.count %></i>
                <% end %>
            <% else %>
                <i class="icon-thumbs-down" style="font-size: 24px;"> <%= appeal.downvotes.count %></i>
            <% end %>
          </div>
          <div class="abstract pull-left">
            <%= appeal.topic.abstract %>
          </div>
          <div class="additional_info pull-left">
            <% unless appeal.topic.additional_info.empty? %>
                <i class="icon-info-sign" data-toggle="popover" data-placement="bottom" title="Additional Info" data-content="<%= appeal.topic.additional_info %>"></i>
            <% end %>
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to "#{appeal.comments.count} comments", [appeal.conference, appeal] %>
          <%= link_to 'Edit', edit_conference_appeal_path(appeal.conference, appeal) %>
          <%= link_to 'Destroy', [appeal.conference, appeal], method: :delete, data: {confirm: 'Are you sure?'} %>
        </div>
    <% end %>
<% end %>
