<%= form_for([@conference, @appeal]) do |f| %>
  <% if @appeal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appeal.errors.count, "error") %> prohibited this appeal from being saved:</h2>

      <ul>
      <% @appeal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>Add appeal to <%= @conference.name %></h3>
  </div>
  <%= f.fields_for :topic do |topic_form| %>
    <div class="field">
      <%= topic_form.label :speakers %><br />
      <%= topic_form.collection_select :speaker_ids, Speaker.all, :id, :name, {}, {:multiple => true}%>
    </div>
    <a data-toggle="modal" href="#newSpeaker" class="btn btn-primary btn-lg">Add another speaker</a>
    <div class="field">
      <%= topic_form.label :subject %><br />
      <%= topic_form.text_field :subject %>
    </div>
    <div class="field">
      <%= topic_form.label :abstract %><br />
      <%= topic_form.text_field :abstract %>
    </div>
    <div class="field">
      <%= topic_form.label :detail %><br />
      <%= topic_form.text_area :detail %>
    </div>
    <div class="field">
      <%= topic_form.label :additional_info %><br />
      <%= topic_form.text_area :additional_info %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
