<%= form_for([@conference, @appeal], :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @appeal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appeal.errors.count, "error") %> prohibited this appeal from being saved:</h2>

      <ul>
      <% @appeal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <!-- Left Col -->
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Speaker Application To <%= @conference.name %></strong></div>
                    <div class="panel-body">
                      <%= f.fields_for :topic do |topic_form| %>
                          <div class="form-group">
                            <%= topic_form.label :speakers, :class => "col-lg-3 control-label" %>

                            <div class="col-lg-9">
                              <%= topic_form.collection_select :speaker_ids, Speaker.all, :id, :name, {}, {:multiple => true, :class => "form-control"} %>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3">
                              <a data-toggle="modal" href="#newSpeaker" class="btn btn-primary btn-lg">Add another
                                speaker</a>
                            </div>
                          </div>
                          <div class="form-group">
                            <%= topic_form.label :subject, :class => "col-lg-3 control-label" %>

                            <div class="col-lg-9">
                              <%= topic_form.text_field :subject, :class => "form-control" %>
                            </div>
                          </div>
                          <div class="form-group">
                            <%= topic_form.label :abstract, :class => "col-lg-3 control-label" %>

                            <div class="col-lg-9">
                              <%= topic_form.text_field :abstract, :class => "form-control" %>
                            </div>
                          </div>
                          <div class="form-group">
                            <%= topic_form.label :detail, :class => "col-lg-3 control-label" %>

                            <div class="col-lg-9">
                              <%= topic_form.text_area :detail, :class => "form-control", :style => "height: 200px" %>
                            </div>
                          </div>
                          <div class="form-group">
                            <%= topic_form.label :additional_info, :class => "col-lg-3 control-label" %>

                            <div class="col-lg-9">
                              <%= topic_form.text_area :additional_info, :class => "form-control" , :style => "height: 200px" %>
                            </div>
                          </div>
                      <% end %>

                      <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                          <%= f.submit :class => "btn btn-default pull-right" %>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<% end %>

<div class="modal fade" id="newSpeaker">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create a new speaker</h4>
      </div>
      <div class="modal-body">
        <%= form_for(Speaker.new, remote: true) do |sf| %>
          <%= sf.label :name %>
          <%= sf.text_field :name %>
          <br>
          <%= sf.label :email %>
          <%= sf.email_field :email %>
          <br>
          <%= sf.label :phone %>
          <%= sf.text_field :phone %>
          <br>
          <%= sf.label :twitter %>
          <%= sf.text_field :twitter %>
          <br>
          <%= sf.label :facebook %>
          <%= sf.text_field :facebook %>
      </div>
      <div class="modal-footer">
          <%= sf.submit class: "btn btn-primary" %>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
