<%= form_for([@conference, @appeal], url: conference_appeals_url(@conference), :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @appeal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appeal.errors.count, "error") %> prohibited this appeal from being saved:</h2>

      <ul>
      <% @appeal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <!-- Left Col -->
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong><%= t :speaker_application_header, conference_name: @conference.name %></strong>
              </div>
                    <div class="panel-body">
                        <% if @conference.appeal_types.size > 0 %>
                          <div class="form-group">
                            <%= f.label t('appeals.appeal_type'), :class => "col-lg-3 control-label" %>

                            <div class="col-lg-9">
                              <%= f.collection_select :appeal_type_id, @conference.appeal_types, :id, :type_name, {}, {:class => "form-control"} %>
                            </div>
                          </div>
                        <% end %>
                      <%= f.fields_for :topic do |topic_form| %>
                          <div class="form-group">
                            <%= topic_form.label t(:speakers), :class => "col-lg-3 control-label" %>

                            <div class="col-lg-9">
                              <%= topic_form.collection_select :speaker_ids, @appeal.topic.speakers, :id, :name, {}, {:multiple => true, :class => "form-control"} %>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3">
                              <a data-toggle="modal" href="#newSpeaker" class="btn btn-primary btn-lg"><%= t :new_speaker %></a>
                            </div>
                          </div>
                          <div class="form-group">
                            <%= topic_form.label t('appeals.subject'), :class => "col-lg-3 control-label" %>

                            <div class="col-lg-9">
                              <%= topic_form.text_field :subject, :class => "form-control" %>
                            </div>
                          </div>
                          <div class="form-group">
                            <%= topic_form.label t('appeals.abstract'), :class => "col-lg-3 control-label" %>

                            <div class="col-lg-9">
                              <%= topic_form.text_field :abstract, :class => "form-control" %>
                            </div>
                          </div>
                          <div class="form-group">
                            <%= topic_form.label t('appeals.detail'), :class => "col-lg-3 control-label" %>

                            <div class="col-lg-9">
                              <%= topic_form.text_area :detail, :class => "form-control", :style => "height: 200px" %>
                            </div>
                          </div>
                          <div class="form-group">
                            <%= topic_form.label t(:additional_info), :class => "col-lg-3 control-label" %>

                            <div class="col-lg-9">
                              <%= topic_form.text_area :additional_info, :class => "form-control" , :style => "height: 200px" %>
                            </div>
                          </div>
                      <% end %>

                      <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                          <% bs_button_to "Return to #{@conference.name}", @conference, :class => "btn btn-default pull-left" %>
                          <%= f.submit :class => "btn btn-default pull-right", :value => t(:create_appeal) %>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>




<% end %>

<div class="modal fade" id="newSpeaker">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <%= form_for(Speaker.new, url: speakers_url, remote: true, :html => {:class => 'form-horizontal speaker-form'}) do |sf| %>
            <div class="form-group">
              <%= sf.label t('speaker.name'), :class => "col-lg-3 control-label" %>

              <div class="col-lg-9">
                <%= sf.text_field :name, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= sf.label t('speaker.email'), :class => "col-lg-3 control-label" %>

              <div class="col-lg-9">
                <%= sf.email_field :email, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= sf.label t('speaker.phone'), :class => "col-lg-3 control-label" %>

              <div class="col-lg-9">
                <%= sf.text_field :phone, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= sf.label t('speaker.twitter'), :class => "col-lg-3 control-label" %>

              <div class="col-lg-9">
                <%= sf.text_field :twitter, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= sf.label t('speaker.facebook'), :class => "col-lg-3 control-label" %>

              <div class="col-lg-9">
                <%= sf.text_field :facebook, :class => "form-control" %>
              </div>
            </div>
      </div>
      <div class="modal-footer">
          <%= sf.submit class: "btn btn-primary" %>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
