<h1>Listing appeals for conference <%= @conference.name %></h1>

<p id="notice"><%= notice %></p>

<div class="appeals-list">
  <% @appeal_types.each do |appeal_type| %>
    <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
        <h3 class="panel-title"><%= appeal_type.type_name %> (<%= appeal_type.appeals.count %> Başvuru)</h3>
          <div class="pull-right">
            <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
              <i class="glyphicon glyphicon-filter"></i>
            </span>
          </div>
        </div>
        <div class="panel-body">
          <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#table<%= appeal_type.id %>" placeholder="Filter Developers" />
        </div>
        <table class="table table-hover" id="table<%= appeal_type.id %>">
          <thead>
            <tr>
              <th>#</th>
              <th><%= t "topic.subject" %></th>
              <th><%= t "topic.absract" %></th>
              <th><%= t "topic.speakers" %></th>
              <th><%= t "appeals.state" %></th>
              <th><%= t "appeals.actions" %></th>
            </tr>
          </thead>
          <tbody>
            <% appeal_type.appeals.each do |appeal| %>
            <tr class="<%= appeal.state %>">
              <td><%= appeal.id %></td>
              <td><%= appeal.topic.subject %></td>
              <td><%= appeal.topic.abstract %></td>
              <td class="text-center">
                <% appeal.topic.speakers.each do |speaker| %>
                  <div class="speaker">
                  <%= link_to image_tag(speaker.avatar_url(20), class: "img-circle"), speaker_path(speaker), title: speaker.info, class: "tt" %>
                </div>
              <% end %>
              </td>
              <td><%=t appeal.state %></td>
              <td class="actions">
                <div class="updown">
                  <% unless current_user.voted_up_on? appeal %>
                      <%= link_to upvote_conference_appeal_path(appeal.conference, appeal) do %>
                          <i class="icon-thumbs-up" style="font-size: 24px;color: gray;"> <%= appeal.upvotes.count %></i>
                      <% end %>
                  <% else %>
                      <i class="icon-thumbs-up" style="font-size: 24px;"> <%= appeal.upvotes.count %></i>
                  <% end %>
                  <% unless current_user.voted_down_on? appeal %>
                      <%= link_to downvote_conference_appeal_path(appeal.conference, appeal) do %>
                          <i class="icon-thumbs-down" style="font-size: 24px;color: gray;"> <%= appeal.downvotes.count %></i>
                      <% end %>
                  <% else %>
                      <i class="icon-thumbs-down" style="font-size: 24px;"> <%= appeal.downvotes.count %></i>
                  <% end %>
                </div>
                <%= link_to "#{appeal.comments.count} comments", [appeal.conference, appeal] %>
                <%= link_to :show, conference_appeal_path(appeal.conference, appeal), class: "btn btn-success button" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= link_to 'New Appeal', new_conference_appeal_path(@conference) %>
