<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">Details of <%= @appeal.topic.subject %></div>
  <div class="panel-body">
    <table class="table table-bordered">
      <tr>
        <td class="span2" style="font-weight: bold">Conference</td>
        <td><%= @appeal.conference.name %></td>
      </tr>
      <tr>
        <td class="span2" style="font-weight: bold">Appeal Type</td>
        <td><%= @appeal.appeal_type.try(:type_name) %></td>
      </tr>
      <tr>
        <td class="span2" style="font-weight: bold">Subject</td>
        <td><%= @appeal.topic.subject %></td>
      </tr>
      <% if @appeal.topic.abstract? %>
          <tr>
            <td class="span2" style="font-weight: bold">Abstract</td>
            <td><%= @appeal.topic.abstract %></td>
          </tr>
      <% end %>
      <% if @appeal.topic.additional_info? %>
          <tr>
            <td class="span2" style="font-weight: bold">Additional Info</td>
            <td><%= @appeal.topic.additional_info %></td>
          </tr>
      <% end %>
      <% if @appeal.topic.detail? %>
          <tr>
            <td class="span2" style="font-weight: bold">Detail</td>
            <td><%= @appeal.topic.detail %></td>
          </tr>
      <% end %>

      <tr>
        <td class="span2" style="font-weight: bold">Speakers</td>
        <td>
          <% @appeal.topic.speakers.each do |speaker| %>
              <%= link_to speaker.name, speaker_path(speaker) %>
          <% end %>
        </td>
      </tr>

    </table>
    <div class="pull-right"> <%= bs_button_to "Return to #{@conference.name}", @conference, :class => "btn btn-default pull-left" %></div>
  </div>
</div>

<% if current_user %>
<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for(Comment.new, url: comment_conference_appeal_path(@conference, @appeal), remote: true, :html => {:class => 'form-horizontal'}) do |f| %>
        <div class="form-group">
          <label for="from" class="col-lg-3 control-label"><%= f.label :comment %></label>

          <div class="col-lg-9">
            <%= f.text_area :comment, :class => "form-control", :style => "height: 200px; width: 100%" %>
          </div>
        </div>
        <%= f.submit :class => "btn btn-default pull-right" %>
    <% end %>
  </div>
</div>

<% if @appeal.comments.present? %>
    <div class="panel panel-default">
      <div class="panel-body" id="comments">
        <% @appeal.comments.reverse.each do |comment| %>
            <div class="media" style="border-bottom: 1px solid #dddddd">
              <div class="media-body">
                <h4 class="media-heading"> <%= comment.comment %></h4>
                <div class="pull-right">by <%= comment.user.email %></div>
              </div>
            </div>
        <% end %>

      </div>
    </div>
<% end %>



<%= link_to 'Edit', edit_conference_appeal_path([@conference, @appeal]) %> |
<%= link_to 'Back', conference_appeals_path(@conference) %>

<% end %>
