<p id="notice"><%= notice %></p>

<p>
  <b>Conference:</b>
  <%= @appeal.conference_id %>
</p>

<p>
  <b>Topic:</b>
  <%= @appeal.topic_id %>
</p>


<%= link_to 'Edit', edit_conference_appeal_path([@conference, @appeal]) %> |
<%= link_to 'Back', conference_appeals_path(@conference) %>
