<div class="row">
  <div class="col-lg-12">
    <%= form_for([@conference, @speech], url: conference_speeches_url(@conference), :html => {:class => 'panel panel-default form-horizontal form-bordered validate-me'}) do |f| %>
        <div class="panel-body pt0">
          <% if @speech.errors.any? %>
              <div class="form-group message-container">
                <div class="alert alert-danger animation animating flipInX">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <h4 class="semibold mb5"><%= t("general.error") %></h4>
                  <% @speech.errors.full_messages.each do |msg| %>
                      <p class="nm"><%= msg %></p>
                  <% end %>
                </div>
              </div>
          <% end %>

          <% if @conference.speech_types.size > 0 %>
              <div class="form-group">
                <%= f.label t('speeches.speech_type'), :class => "col-lg-3 control-label" %>

                <div class="col-lg-9">
                  <%= f.collection_select :speech_type_id, @conference.speech_types, :id, :type_name, {}, {:class => "form-control"} %>
                </div>
              </div>
          <% end %>
          <%= f.fields_for :topic do |topic_form| %>
              <div class="form-group">
                <%= topic_form.label t("speeches.speakers"), :class => "col-lg-3 control-label" %>

                <div class="col-lg-9">
                  <%= topic_form.collection_select :speaker_ids, @speech.topic.speakers, :id, :name, {}, {:multiple => true, :class => "form-control"} %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                  <a data-toggle="modal" href="#" data-target="#newSpeaker" class="btn btn-primary btn-lg"><%= t("conferences.new_speaker") %></a>
                </div>
              </div>
              <div class="form-group">
                <%= topic_form.label t('speeches.subject'), :class => "col-lg-3 control-label" %>

                <div class="col-lg-9">
                  <%= topic_form.text_field :subject, :class => "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <%= topic_form.label t('speeches.abstract'), :class => "col-lg-3 control-label" %>

                <div class="col-lg-9">
                  <%= topic_form.text_field :abstract, :class => "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <%= topic_form.label t('speeches.detail'), :class => "col-lg-3 control-label" %>

                <div class="col-lg-9">
                  <%= topic_form.text_area :detail, :class => "form-control", :style => "height: 200px" %>
                </div>
              </div>
              <div class="form-group">
                <%= topic_form.label t("speeches.additional_info"), :class => "col-lg-3 control-label" %>

                <div class="col-lg-9">
                  <%= topic_form.text_area :additional_info, :class => "form-control" , :style => "height: 200px" %>
                </div>
              </div>
          <% end %>
          <div class="panel-footer">
            <%= f.submit :class => "btn btn-primary pull-right" %>
            <%= submit_tag t("general.add_another"), :class => "btn btn-primary pull-right mr10", name: :add_another %>
          </div>
        </div>

    <% end %>

  </div>
</div>
<%= render "conferences/show/speaker_modal" %>

