<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">Details of <%= @speech.topic.subject %></div>
  <div class="panel-body">
    <table class="table table-bordered">
      <tr>
        <td class="span2" style="font-weight: bold">Conference</td>
        <td><%= @speech.conference.name %></td>
      </tr>
      <tr>
        <td class="span2" style="font-weight: bold">Speech Type</td>
        <td><%= @speech.speech_type.try(:type_name) %></td>
      </tr>
      <tr>
        <td class="span2" style="font-weight: bold">Subject</td>
        <td><%= @speech.topic.subject %></td>
      </tr>
      <% if @speech.topic.abstract? %>
          <tr>
            <td class="span2" style="font-weight: bold">Abstract</td>
            <td><%= @speech.topic.abstract %></td>
          </tr>
      <% end %>
      <% if @speech.topic.additional_info? %>
          <tr>
            <td class="span2" style="font-weight: bold">Additional Info</td>
            <td><%= @speech.topic.additional_info %></td>
          </tr>
      <% end %>
      <% if @speech.topic.detail? %>
          <tr>
            <td class="span2" style="font-weight: bold">Detail</td>
            <td><%= @speech.topic.detail %></td>
          </tr>
      <% end %>

      <tr>
        <td class="span2" style="font-weight: bold">Speakers</td>
        <td>
          <% @speech.topic.speakers.each do |speaker| %>
              <%= link_to speaker.name, speaker_path(speaker) %> - <%= speaker.email %> - <%= speaker.phone %>
          <% end %>
        </td>
      </tr>

    </table>
    <% if user_signed_in? %>
      <% if @speech.conference.users.include? current_user %>
    
        <div class="state pull-left">
          <% if @speech.waiting_review? %>
              <%= link_to accept_conference_speech_path(@speech.conference, @speech), data: {confirm: 'Are you sure? Once you accept this speech its speakers will be informed via email. Hence this action can NOT be undone.'} do %>
                  <i class="icon-ok" style="font-size: 32px;color: gray"></i>
              <% end %>
              <%= link_to reject_conference_speech_path(@speech.conference, @speech), data: {confirm: 'Are you sure? Once you reject this speech its speakers will be informed via email. Hence this action can NOT be undone.'} do %>
                  <i class="icon-remove" style="font-size: 32px;color: gray"></i>
              <% end %>
          <% elsif @speech.accepted? %>
              <i class="icon-ok" style="font-size: 32px;"></i>
          <% elsif @speech.rejected? %>
              <i class="icon-remove" style="font-size: 32px;"></i>
          <% end %>
        </div>
      <%end %>
    <%end %>
    <div class="pull-right"> <%= bs_button_to "Return to #{@conference.name}", @conference, :class => "btn btn-default pull-left" %></div>
  </div>
</div>

<% if current_user %>
<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for(Comment.new, url: comment_conference_speech_path(@conference, @speech), remote: true, :html => {:class => 'form-horizontal'}) do |f| %>
        <div class="form-group">
          <label for="from" class="col-lg-3 control-label"><%= f.label :comment %></label>

          <div class="col-lg-9">
            <%= f.text_area :comment, :class => "form-control", :style => "height: 200px; width: 100%" %>
          </div>
        </div>
        <%= f.submit :class => "btn btn-default pull-right" %>
    <% end %>
  </div>
</div>

<% if @speech.comments.present? %>
    <div class="panel panel-default">
      <div class="panel-body" id="comments">
        <% @speech.comments.reverse.each do |comment| %>
            <div class="media" style="border-bottom: 1px solid #dddddd">
              <div class="media-body">
                <h4 class="media-heading"> <%= comment.comment %></h4>
                <div class="pull-right">by <%= comment.user.email %></div>
              </div>
            </div>
        <% end %>

      </div>
    </div>
<% end %>



<%= link_to 'Edit', edit_conference_speech_path(@conference, @speech) %> |
<%= link_to 'Back', conference_speeches_path(@conference) %>

<% end %>
