<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="panel">
        <%= appeal_ribbon(appeal).html_safe %>
      <!-- User info -->
      <ul class="list-table pa15">
        <li class="text-left pl5">
          <p class="ellipsis nm"><span class="semibold"><%= link_to t("conferences.new_appeal", subject: appeal.topic.subject), [@conference, appeal] %></span></p>
          <p class="text-muted nm"><%= timeago_tag appeal.created_at.to_time, :lang => I18n.locale %></p>
        </li>
        <!--<li class="text-right" style="width:60px;">-->
          <!--<div class="btn-group">-->
            <!--<button type="button" class="btn btn-link dropdown-toggle text-default" data-toggle="dropdown"><i class="ico-menu2"></i></button>-->
            <!--<ul class="dropdown-menu dropdown-menu-right">-->
              <!--<li><a href="javascript:void(0);">Report</a></li>-->
              <!--<li><a href="javascript:void(0);">Setting</a></li>-->
              <!--<li class="divider"></li>-->
              <!--<li><a href="javascript:void(0);" class="text-danger">Delete post</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</li>-->
      </ul>
      <!--/ User info -->
      <hr class="nm"><!-- horizontal line -->
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt><%= t("topics.subject") %></dt>
          <dd><%= appeal.topic.subject %></dd>

            <% if appeal.topic.detail %>
              <dt><%= t("topics.abstract") %></dt>
              <dd><%= appeal.topic.abstract %></dd>
            <% end %>

            <% if appeal.topic.detail %>
              <dt><%= t("topics.details") %></dt>
              <dd><%= appeal.topic.detail %></dd>
            <% end %>

            <% if appeal.topic.additional_info %>
                <dt><%= t("topics.additional_info") %></dt>
                <dd><%= appeal.topic.additional_info %></dd>
            <% end %>

              <dt><%= t("topics.speakers") %></dt>
              <dd>
                <% appeal.topic.speakers.each do |speaker| %>
                    <%= link_to speaker.name, speaker_path(speaker) %> - <%= speaker.email %> - <%= speaker.phone %>
                <% end %>
              </dd>
        </dl>
      </div>
      <!-- panel footer -->
      <div class="panel-footer">
        <ul class="list-table">
          <li>
            <div class="img-group img-group-stack">
              <% appeal.topic.speakers.each do |speaker| %>
                  <div class="speaker">
                    <%= link_to image_tag(speaker.avatar_url(35), class: "img-circle"), speaker_path(speaker), title: speaker.name, class: "tt" %>
                  </div>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
      <!--/ panel footer -->
    </div>
  </div>

</div>