<div class="panel-toolbar-wrapper">
  <div class="panel-toolbar appeal-toolbar">
    <a href="#" class="semibold text-default show-comments"><%= appeal.comments.count %>&nbsp; <%= t("appeals.comments") %></a>
    <span class="text-muted mr5 ml5">&#8226;</span>

    <%= link_to upvote_conference_appeal_path(appeal.conference, appeal), remote: true, class: "semibold text-default" do %>
        <i class="ico-arrow-up mr5 action-upvote <%= 'text-primary' if current_user.voted_up_on? appeal %>"></i><span class="upvote-count"><%= appeal.upvotes.count %></span>
    <% end %>
    <span class="text-muted mr5 ml5">&#8226;</span>

    <%= link_to downvote_conference_appeal_path(appeal.conference, appeal), remote: true, class: "semibold text-default" do %>
        <i class="ico-arrow-down mr5 action-downvote <%= 'text-primary' if current_user.voted_down_on? appeal %>"></i><span class="downvote-count"><%= appeal.downvotes.count %></span>
    <% end %>


  </div>
</div>