<div class="panel-toolbar-wrapper">
  <div class="panel-toolbar speech-toolbar">
    <a href="#" class="semibold text-default show-comments"><%= speech.comments.count %>&nbsp; <%= t("speeches.comments") %></a>
    <span class="text-muted mr5 ml5">&#8226;</span>

    <%= link_to upvote_conference_speech_path(speech.conference, speech), remote: true, class: "semibold text-default" do %>
        <i class="ico-arrow-up mr5 action-upvote <%= 'text-primary' if current_user.voted_up_on? speech %>"></i><span class="upvote-count"><%= speech.upvotes.count %></span>
    <% end %>
    <span class="text-muted mr5 ml5">&#8226;</span>

    <%= link_to downvote_conference_speech_path(speech.conference, speech), remote: true, class: "semibold text-default" do %>
        <i class="ico-arrow-down mr5 action-downvote <%= 'text-primary' if current_user.voted_down_on? speech %>"></i><span class="downvote-count"><%= speech.downvotes.count %></span>
    <% end %>


  </div>
</div>