<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-signin"}) do |f| %>
    <h2 class="form-signin-heading">Sign In</h2>
    <%= f.text_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email" %>
    <%= f.password_field :password,:class => "form-control", :placeholder => "Password" %>
  <label class="checkbox">
    <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>
  </label>
  <div><%= f.submit "Sign in", :class => "btn btn-lg btn-primary btn-block" %></div>

<% end %>

<div class="row">
  <div class="col-lg-4 col-lg-offset-8">
    <%= render "devise/shared/links" %>
  </div>
</div>

