

<section id="main" role="main">
  <!-- START Template Container -->
  <section class="container">
    <!-- START row -->
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <!-- Brand -->
        <div class="text-center" style="margin-bottom:40px;">
          <span class="logo-figure inverse"></span>
          <span class="logo-text inverse"></span>
          <h5 class="semibold text-muted mt-5"><%= t("user.login_to_your_account") %></h5>
        </div>
        <!--/ Brand -->

        <%= render "devise/shared/social" %>

        <hr><!-- horizontal line -->

        <!-- Login form -->

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "panel"}) do |f| %>
              <div class="panel-body">
                <!-- Alert message -->
                <%= render "layouts/messages" %>
                <!--/ Alert message -->
                <div class="form-group">
                  <div class="form-stack has-icon pull-left">
                    <%= f.text_field :email, :autofocus => true, :class => "form-control input-lg", :placeholder => t("user.email") %>
                    <i class="ico-user2 form-control-icon"></i>
                  </div>
                  <div class="form-stack has-icon pull-left">
                    <%= f.password_field :password,:class => "form-control input-lg",  :placeholder => t("user.password") %>
                    <i class="ico-lock2 form-control-icon"></i>
                  </div>
                </div>


                <div class="form-group">
                  <div class="row">
                    <% if devise_mapping.rememberable? -%>
                        <div class="col-xs-6">
                          <div class="checkbox custom-checkbox">
                            <%= f.check_box :remember_me %>
                            <label for="remember">&nbsp;&nbsp;<%= f.label :remember_me, t("user.remember_me") %></label>
                          </div>
                        </div>
                    <% end -%>

                    <div class="col-xs-6 text-right">
                      <a href="<%= new_user_password_path %>"><%= t("user.lost_password") %></a>
                    </div>
                  </div>
                </div>
                <div class="form-group nm">
                  <%= f.submit t("user.login"), :class => "btn btn-block btn-success" %>
                </div>
              </div>
        <% end %>
        <!-- Login form -->

        <hr><!-- horizontal line -->

        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <p class="text-muted text-center"> <%= t("user.dont_have_account") %> <%= link_to t("user.sign_up_to_get_started"), new_registration_path(resource_name) %></p>
        <% end -%>
      </div>
    </div>
    <!--/ END row -->
  </section>
  <!--/ END Template Container -->
</section>