<%=@speech.conference.name %> için yeni bir başvuru gelmiştir.<br /><br />


<b><%=t :speakers %></b> <br />
    <ul>
        <% @speech.topic.speakers.each do |speaker| %>
          <li><%= speaker.name %> (<%= speaker.user.email %> - <%= speaker.phone %>) </li>
        <% end %>
    </ul>
    <b><%=t 'speeches.subject' %>:</b> <%=@speech.topic.subject %> <br />
    <b><%=t 'speeches.abstract' %>:</b> <%=@speech.topic.abstract %> <br />
    <b><%=t 'speeches.detail' %>:</b> <%=@speech.topic.detail%> <br />
    <b><%=t 'speeches.additional_info' %>:</b> <%=@speech.topic.additional_info%> <br/> <br/>

<%= link_to "Değerlendirmek için tıklayınız", conference_speech_url(@speech.conference, @speech) %>
<br/><br/>

-ConfDeck
