Your application is rejected for <%= @appeal.conference.name %><br /><br/>


<b>Speakers:</b> <br/>
<ul>
  <% @appeal.topic.speakers.each do |speaker| %>
      <li><%= speaker.name %> </li>
  <% end %>
</ul>
<b>Topic:</b> <%= @appeal.topic.subject %> <br/>
<b>Details: </b><%= @appeal.topic.detail %> <br/>
<b>Additional Info:</b> <%= @appeal.topic.additional_info %> <br/> <br/>

<br/><br/>

-ConfDeck
