<%= @appeal.conference.name %> başvurunuz kaydedilmiştir<br /><br/>

Başvuru sonucunuz, son başvuru tarihinden(28 Şubat 2014 Cuma) sonra program kurulu tarafından incelenerek tarafınıza iletilecektir.

Bilgilerinize,

<%= @appeal.conference.name %> Program Kurulu


Başvuru Bilgileriniz:
<b>Konuşmacılar:</b> <br/>
<ul>
  <% @appeal.topic.speakers.each do |speaker| %>
      <li><%= speaker.name %> </li>
  <% end %>
</ul>
<b>Konu Başlığı:</b> <%= @appeal.topic.subject %> <br/>
<b>Konu Özeti:</b> <%= @appeal.topic.abstract %> <br/>
<b>Konuşmanın Ana Hatları: </b><%= @appeal.topic.detail %> <br/>
<b>Ek Bilgi:</b> <%= @appeal.topic.additional_info %> <br/> <br/>

<br/><br/>

-ConfDeck
