<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><%= t "Slot" %></h4>
    </div>
    <div class="modal-body">
      <p id="notice"><%= notice %></p>

      <p>
        <b>Start hour:</b>
        <%= @slot.start_hour.strftime("%I:%M") %>
      </p>

      <p>
        <b>Duration:</b>
        <%= @slot.duration %> <%= t("minutes") %> 
      </p>

      <p>
        <b>Day:</b>
        <%= @slot.day.date %>
      </p>

      <p>
        <b>Room:</b>
        <%= @slot.room.name %>
      </p>

      <p>
        <b>Topic:</b>
        <%= @slot.topic.present? ? @slot.topic.subject : t("Not set")  %>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("Close") %></button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
