<h1>Listing rooms for conference <%= @conference.name %></h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
    <td><%= room.name %></td>
    <td><%= link_to 'Show', [@conference, room] %></td>
    <td><%= link_to 'Edit', edit_conference_room_path(@conference, room) %></td>
    <td><%= link_to 'Destroy', [@conference, room], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Room', new_conference_room_path(@conference) %>
