<div class="page-header">
  <h1 class="pull-left">Organizations</h1>
  <div class="pull-right toolbar">

    <%= button_group do %>
        <%= bs_button_to "", new_organization_path, tooltip: "New Organization", icon: "plus", style: "primary" %>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Website</th>
    <th># of members</th>
    <th class="span2"></th>
  </tr>

    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= link_to organization.website, organization.website %></td>
        <td><%= organization.users.count %></td>
        <td>
          <%= button_group class: "btn-group-sm" do %>
              <%= bs_button_to "", organization, tooltip: "Details", icon: "eye-open", style: "primary", size: "mini" %>
              <%= bs_button_to "", edit_organization_path(organization), tooltip: "Edit", icon: "pencil", style: "primary", size: "mini" %>
              <%= bs_button_to "", organization, method: :delete, data: {:confirm => "Are You Sure?"}, tooltip: "Delete", icon: "remove", style: "primary", size: "mini" %>
          <% end %>
        </td>
      </tr>
    <% end %>
</table>

<br />
