<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Website:</b>
  <%= @organization.website %>
</p>

<p>
  <b>users:</b>
  <% @organization.users.each do |u| %>
    <%= u.email %>
  <% end %>
</p>

<h3>Invite users to organization</h3>
<%= form_for Invitation.new, url: invite_organization_path(@organization) do |f| %>
  <%= f.hidden_field :organization_id, value: @organization.id %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.submit %>
<% end %>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
