<div class="page-header">
  <h1 class="pull-left">Speakers</h1>

  <div class="pull-right toolbar">

    <%= button_group do %>
        <%= bs_button_to "", new_speaker_path, tooltip: "New Speaker", icon: "plus", style: "primary" %>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>


<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Twitter</th>
    <th>Facebook</th>
  </tr>

  <% @speakers.each do |speaker| %>
      <tr>
        <td><%= speaker.name %></td>
        <td><%= speaker.twitter %></td>
        <td><%= speaker.facebook %></td>
      </tr>
  <% end %>

</table>

<div class="pull-right">
  <%= bs_will_paginate(@speakers) %>
</div>


