<h1>Listing speakers</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Twitter</th>
    <th>Facebook</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @speakers.each do |speaker| %>
  <tr>
    <td><%= speaker.email %></td>
    <td><%= speaker.name %></td>
    <td><%= speaker.phone %></td>
    <td><%= speaker.twitter %></td>
    <td><%= speaker.facebook %></td>
    <td><%= link_to 'Show', speaker %></td>
    <td><%= link_to 'Edit', edit_speaker_path(speaker) %></td>
    <td><%= link_to 'Destroy', speaker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Speaker', new_speaker_path %>
