<!DOCTYPE html>
<html>
<head>
  <title>ConfDeck</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places' %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag controller_name if !["sessions"].include? controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= render "shared/feedback" %>
</body>
</html>
