<!DOCTYPE html>
<html>
<head>
  <title>Confman</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places' %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <!-- Static navbar -->
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url%>">ConfMan</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><%= link_to "Conferences", conferences_path %></li>
        <li><%= link_to "Organizations", organizations_path %></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= current_user ? link_to("Çıkış Yap", destroy_user_session_path, :method => :delete) : link_to("Giriş Yap", new_user_session_path) %></li>
        <li><%= current_user ? "" : link_to("Kayıt Ol", new_user_registration_path) %></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>

  <div class="row">
    <div class="col-lg-12">
        <%= yield %>
    </div>
  </div>

</div>

</body>
</html>
