<!DOCTYPE html>
<html>
<head>
  <%= metamagic site: t("titles.default_short"), title: [:title, :site], separator: " - "%>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "bootstrap-custom", :media => "all" %>
    <%= stylesheet_link_tag "conference_landing", :media => "all" %>
    <%= stylesheet_link_tag "font-awe", :media => "all" %>
    <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places' %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "conference_landing" %>
    <%= csrf_meta_tags %>
</head>
<body>
    <%= yield %>

    <%= render "shared/feedback" %>
</body>
</html>
