<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Welcome To ConfMan</title>

  <%= stylesheet_link_tag "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "home", :media => "all" %>
  <%= stylesheet_link_tag "timeline", :media => "all" %>
  <%= javascript_include_tag "home" %>
  <%= csrf_meta_tags %>
</head>
</head>

<body>

<!-- Side Menu -->
<div id="menu-toggle" style="margin: 10px">
  <%= current_user ? (bs_button_to " ", dashboard_url,  icon: "reorder", class: "btn-primary btn-lg toogle", tooltip: "Dashboard") : "" %>
  <%= current_user ? (bs_button_to " ", destroy_user_session_path, method: :delete, icon: "signout", class: "btn-primary btn-lg toogle", tooltip: "Logout") : (bs_button_to "Login", new_user_session_path, icon: "signin", class: "btn-primary btn-lg toogle", tooltip: "Login") %>
  <%= current_user ? "" : (bs_button_to "Signin as Guest", new_user_session_path, icon: "user", class: "btn-primary btn-lg toogle", tooltip: "Login") %>
  <%= current_user ? "" : (bs_button_to "Register", new_user_registration_path, icon: "plus-sign", class: "btn-primary btn-lg toogle", tooltip: "Login") %>
</div>


<!-- Full Page Image Header Area -->
<div id="top" class="header">
  <div class="vert-text">
    <h1><img src="/assets/logo.png"/></h1>

    <h3><em>manage your conferences on cloud</em></h3>
    <a href="#intro" class="btn btn-default btn-lg">Find Out More</a>
  </div>
</div>
<!-- /Full Page Image Header Area -->

<!-- Intro -->
<div id="intro" class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>Create Your Organization!</h2>

        <p>

        <form class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword2">Organization Name</label>
            <input type="text" class="form-control" id="exampleInputPassword2" placeholder="Organization Name">
          </div>
          <button type="submit" class="btn btn-default">Create!</button>
        </form>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- /Intro -->

<!-- Services -->
<div id="services" class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Features</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="service-item">
          <i class="service-icon icon-magic"></i>
          <h4>Manage Your Organization</h4>

          <p></p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon icon-magnet"></i>
          <h4>Create Your Event Page</h4>

          <p></p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon icon-shield"></i>
          <h4>Accept Speakers</h4>

          <p></p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon icon-pencil"></i>
          <h4>Create Schedule</h4>

          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Services -->


<!-- Services -->
<div id="upcoming" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Upcoming Events</h2>

        <% @days.each do |day| %>
            <% day.conferences.each do |conf| %>
                <b><%= link_to conf.name, conf %></b> - <%= conf.days.first.date.strftime("%d %B %Y") %> - <%= conf.days.last.date.strftime("%d %B %Y") %> <br />
            <% end %>
        <% end %>

             <br />
             <br />
             <br />
             <br />
        <% @conferences.each do |conf| %>
            <b><%= link_to conf.name, conf %></b> - <%= conf.days.first.date.strftime("%d %B %Y") %>
            - <%= conf.days.last.date.strftime("%d %B %Y") %> <br/>
        <% end %>


      </div>
    </div>

  </div>
</div>
<!-- /Services -->

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-dribbble icon-2x"></i></li>
        </ul>
        <hr>
        <p>ConfMan</p>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->

<script>
    $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                    || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>

</body>

</html>