<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Welcome To ConfDeck</title>

  <%= stylesheet_link_tag "bootstrap-custom", :media => "all" %>
  <%= stylesheet_link_tag "home", :media => "all" %>
  <%= stylesheet_link_tag "timeline", :media => "all" %>
  <%= javascript_include_tag "home" %>
  <%= csrf_meta_tags %>
</head>
</head>

<body>

<!-- Side Menu -->
<div id="menu-toggle" style="margin: 10px">
  <%= current_user ? (bs_button_to " ", dashboard_url,  icon: "reorder", class: "btn-primary btn-lg toogle", tooltip: "Dashboard") : "" %>
  <%= current_user ? (bs_button_to " ", destroy_user_session_path, method: :delete, icon: "signout", class: "btn-primary btn-lg toogle", tooltip: "Logout") : (bs_button_to "Login", new_user_session_path, icon: "signin", class: "btn-primary btn-lg toogle", tooltip: "Login") %>
  <%= current_user ? "" : (bs_button_to "Register", new_user_registration_path, icon: "plus-sign", class: "btn-primary btn-lg toogle", tooltip: "Login") %>
</div>


<!-- Full Page Image Header Area -->
<div id="top" class="header">
  <div class="vert-text">
    <h1>
      ConfDeck
      <!--<img src="/assets/logo.png"/>-->
    </h1>

    <h3><em>Creating conferences made easy</em></h3>
    <a href="#intro" class="btn btn-default btn-lg">Find Out More</a>

    <div class="row signup-box">
      <div class="col-lg-8 col-lg-offset-2">
        <%= simple_form_for @signup_form, url: quick_signup_path do |f| %>
            <%= f.input :email %>
            <%= f.input :password %>
            <%= f.input :name %>
            <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- /Full Page Image Header Area -->

<!-- Intro -->
<div id="intro" class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>Organizing a conference and its speakers is easy now</h2>
        <p class="lead">Meeting new people and old friends in conferences are awesome but what about organizing a conference? ConfdDeck makes it easy to create, organize and share conferences.</p>
      </div>
    </div>
  </div>
</div>
<!-- /Intro -->

<!-- Services -->
<div id="services" class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Features</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="service-item">
          <i class="service-icon icon-calendar"></i>
          <h4>Manage Event Schedule</h4>
          <p>You can create schedule for different rooms for the same event</p>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon icon-microphone"></i>
          <h4>Get apeals from speakers</h4>

          <p>Let speakers apply to your event and you discuss and decide with your event committee</p>
        </div>
      </div>
      
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon icon-group"></i>
          <h4>Gather orginization committee</h4>

          <p>Add people to conference to discuss and decide on speaker speeches</p>
        </div>
      </div>
      
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon icon-bullhorn"></i>
          <h4>Share your event's page</h4>

          <p>Avoid the burden of creating event pages since ConfDeck creates one for you</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Services -->

<!-- call-to-action -->
<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h3>As an organizer keep a speaker database so that you can invite the ones later on who are loved most by the orginizing committee.</h3>
      </div>
    </div>
  </div>
</div>
<!-- call-to-action -->


<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-dribbble icon-2x"></i></li>
        </ul>
        <hr>
        <p>ConfDeck</p>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->

<script>
    $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                    || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>

</body>

</html>
